.signup-container {
  .signup-wrapper {
    .signup-page {
      .form-section {
        .title-wrap {
          margin-right: 22rem;
          h1 {
            font-weight: 800;
            font-size: 2rem;
            margin-bottom: 28px;
            font-family: 'Poppins', sans-serif!important;
          }
        }

        form {
          width: 60%!important;
          input {
            width: 450px !important;
            font-weight: 600;
            font-size: .7rem;
            

            input::placeholder {
              font-weight: 600;
              font-size: .7rem;
              font-family: 'Poppins', sans-serif;
            }

          }

          .password-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            .password-input {

              padding-right: 40px;
              width: 450px !important;
            }

            .eye-icon {
              position: absolute;
              right: 24px;
              top: 41%;
              transform: translateY(-50%);
              cursor: pointer;
              font-size: 18px;
              color: #666;

            }
          }

          .login-btn {
            width: 450px !important;
            background-color: #ccc;
            border: none;
            padding: 12px;
            border-radius: 8px;
            font-size: 1rem;
            color: #fff;
            cursor: pointer;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
            border-radius: 26px;
            margin-top: 3rem;
            height: 46px!important;

            &:hover {
              background-color: #bbb;
            }

          }

          p{
            font-size: .9rem;
            font-family: 'Poppins', sans-serif;
            margin-top: 4rem;
            margin-bottom: 2rem;
            text-align: center;
          
          .signup-link {
            font-size: .7rem;
            font-family: 'Poppins', sans-serif;
            color: #007bff;
          }
        }
        }
        small{
          font-size: .72rem;
          font-family: 'Poppins', sans-serif;
          margin-top: 9rem;
          text-align: center;
          a{
            color: #676B5F;
            text-decoration: underline;
          }
        }
      }
    }
  }
}