$primary-color: #1877F2;
$gray-border: #e5e7eb;
$light-bg: #f3f4f6;

// .container {
//   padding: 2rem;
//   background-color: #f9f9f9;
// }

.head-title {
  margin-left: 2rem;
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .heading {
    font-size: 26px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 12px;
  }
}

.event-form-container {
  margin: 2rem;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  width: 1026px;

  h2 {
    color: $primary-color;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// 👇 New row-wise input group styling
.form-group {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: center;
  justify-content: center;


  label {
    flex: 0 0 180px; // label width
    font-weight: 500;
    font-size: 14px;
    color: #343434;
    font-family: "poppins";
    // text-align: right;

    span {
      color: red;
      margin-left: 4px;
    }
  }

  input,
  select,
  textarea {
    // flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid $gray-border;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    width: 54%;
  }

  textarea {
    min-height: 70px;
    resize: none;
    width: 54%;
  }
}

.datetime-row {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 54%;
  // margin-bottom: 16px;

  label {
    flex: 0 0 180px;
    font-weight: 500;
    font-size: 14px;
    // text-align: right;

    span {
      color: red;
      margin-left: 4px;
    }
  }

  .datetime-fields {
    flex: 1;
    display: flex;
    gap: 0.5rem;

    input,
    select {
      flex: 1;
      padding: 10px;
      border: 1px solid $gray-border;
      border-radius: 10px;
      font-size: 14px;
      outline: none;
    }
  }
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 88%;

  .cancel-btn {
    padding: 10px 20px;
    background: $light-bg;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 110px;
  }

  .save-btn {
    padding: 10px 20px;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    width: 110px;
  }
}

